<?php echo $header; ?>
<div class="container">
  <header>
    <div class="row">
      <div class="col-sm-6">
        <h1 class="pull-left">4
          <small>/4</small>
        </h1>
        <h3><?php echo $heading_title; ?>
          <br/>
          <small><?php echo $text_step_4; ?></small>
        </h3>
      </div>
      <div class="col-sm-6">
        <div id="logo" class="pull-right hidden-xs"><img src="view/image/logo.png" alt="Norte" title="Norte"/></div>
      </div>
    </div>
  </header>
  <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> <?php echo $error_warning; ?> <button type="button" class="close" data-dismiss="alert">&times;</button></div>
  <div class="visit">
    <div class="row">
      <div class="col-sm-5 col-sm-offset-1 text-center">
        <p><i class="fa fa-shopping-cart fa-5x"></i></p>
        <a href="../" class="btn btn-secondary"><?php echo $text_catalog; ?></a>
      </div>
      <div class="col-sm-5 text-center">
        <p><i class="fa fa-cog fa-5x white"></i></p>
        <a href="../admin/" class="btn btn-secondary"><?php echo $text_admin; ?></a>
      </div>
    </div>
  </div>
  <div class="core-modules"><?php echo $promotion; ?></div>
  <div class="modules"><a href="https://www.norte.com/index.php?route=marketplace/extension&utm_source=norte_install&utm_medium=store_link&utm_campaign=norte_install" target="_BLANK" class="btn btn-default"><?php echo $text_extension; ?></a></div>
  <div class="mailing">
    <div class="row">
      <div class="col-sm-12"><i class="fa fa-envelope-o fa-5x"></i>
        <h3><?php echo $text_mail; ?>
          <br/>
          <small><?php echo $text_mail_description; ?></small>
        </h3>
        <a href="http://newsletter.norte.com/h/r/B660EBBE4980C85C" target="_BLANK" class="btn btn-secondary"><?php echo $button_mail; ?></a>
      </div>
    </div>
  </div>
  <div class="support text-center">
    <div class="row">
      <div class="col-sm-4">
        <a href="https://www.facebook.com/norte/" class="icon transition"><i class="fa fa-facebook fa-4x"></i></a>
        <h3><?php echo $text_facebook; ?></h3>
        <p><?php echo $text_facebook_description; ?></p>
        <a href="https://www.facebook.com/norte/"><?php echo $text_facebook_visit; ?></a>
      </div>
      <div class="col-sm-4">
        <a href="https://forum.norte.com/?utm_source=norte_install&utm_medium=forum_link&utm_campaign=norte_install" class="icon transition"><i class="fa fa-comments fa-4x"></i></a>
        <h3><?php echo $text_forum; ?></h3>
        <p><?php echo $text_forum_description; ?></p>
        <a href="https://forum.norte.com/?utm_source=norte_install&utm_medium=forum_link&utm_campaign=norte_install"><?php echo $text_forum_visit; ?></a>
      </div>
      <div class="col-sm-4">
        <a href="https://www.norte.com/index.php?route=support/partner&utm_source=norte_install&utm_medium=partner_link&utm_campaign=norte_install" class="icon transition"><i class="fa fa-user fa-4x"></i></a>
        <h3><?php echo $text_commercial; ?></h3>
        <p><?php echo $text_commercial_description; ?></p>
        <a href="https://www.norte.com/index.php?route=support/partner&utm_source=norte_install&utm_medium=partner_link&utm_campaign=norte_install" target="_BLANK"><?php echo $text_commercial_visit; ?></a>
      </div>
    </div>
  </div>
</div>
<?php echo $footer; ?>
